<!doctype html>
<head>
    <title>HOME </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
</head>

<h1><a>Bull Class Information</a></h1>

<body class="main">
<div>
    <p>Table</p>

    <form class="pure-form" method="POST" action="/home">
        Class Prefix:<br>
        <input type="text" name="ClassPrefix" required="required"><br>

        Class Number:<br>
        <input type="text" name="ClassNumber" required="required"><br>

        Optional<br>
        Professor Last Name:<br>
        <input type="text" name="ProfessorName"><br>

        Term:<br>
        <select id="term" name="Term">
            <option value="">Select a Term</option>
            <option value="S22">Spring 2022</option>
            <option value="F22">Fall 2022</option>
            <option value="Su22">Summer 2022</option>
            <option value="S21">Spring 2021</option>
            <option value="F21">Fall 2021</option>
            <option value="Su21">Summer 2021</option>
        </select>

        <button type="submit" class="pure-button pure-button-primary" value="submit">
            Submit
        </button>
    </form>

</div>

<br>

<div>
    {% if grade_dist %}
    {%for professor in grade_dist%}
    <p><b>{{professor}}</b></p>
    {%for class in grade_dist[professor]%}
    <p>
    Section Number:<br>
    {{class[0]}}<br>
    Term:<br>
    {{class[1]}}<br>
    Percent A's:<br>
    {{class[2]}}<br>
    Total Students:<br>
    {{class[3]}}<br>
    <br>
    </p>
    {% endfor %}
    {% endfor %}
    {% endif %}
</div>
</body>